body {
  background-color: #E9E3E3;
}

form {
  float: right;
  margin: 3px;
}

@media only screen and (max-width: 767px) {
  form {
    float: left;
  }
}

#foodInput {
  font-size: 16px;
}

img {
  height: 150px;
  max-width: 240px;
}

.btn-primary {
  margin: 3px;
}